@font-face {
    font-family: "neuzeitgro-reg";
    src: url("../fonts/neuzeitgro/regular/neuzeitgro-reg.eot");
    src:
        url("../fonts/neuzeitgro/regular/neuzeitgro-reg.woff") format("woff"),
        url("../fonts/neuzeitgro/regular/neuzeitgro-reg.woff2") format("woff2"),
        url("../fonts/neuzeitgro/regular/neuzeitgro-reg.otf") format("opentype"),
        url("../fonts/neuzeitgro/regular/neuzeitgro-reg.ttf") format("opentype"),
        url("../fonts/neuzeitgro/regular/neuzeitgro-reg.svg#filename") format("svg");
}

@font-face {
    font-family: "neuzeitgro-black";
    src: url("../fonts/neuzeitgro/black/neuzeitgro-bla.eot");
    src:
        url("../fonts/neuzeitgro/black/neuzeitgro-bla.woff") format("woff"),
        url("../fonts/neuzeitgro/black/neuzeitgro-bla.woff2") format("woff2"),
        url("../fonts/neuzeitgro/black/neuzeitgro-bla.otf") format("opentype"),
        url("../fonts/neuzeitgro/black/neuzeitgro-bla.ttf") format("opentype"),
        url("../fonts/neuzeitgro/black/neuzeitgro-bla.svg#filename") format("svg");
}

@font-face {
    font-family: "neuzeitgro-bold";
    src: url("../fonts/neuzeitgro/bold/neuzeitgro-bol.eot");
    src:
        url("../fonts/neuzeitgro/bold/neuzeitgro-bol.woff") format("woff"),
        url("../fonts/neuzeitgro/bold/neuzeitgro-bol.woff2") format("woff2"),
        url("../fonts/neuzeitgro/bold/neuzeitgro-bol.otf") format("opentype"),
        url("../fonts/neuzeitgro/bold/neuzeitgro-bol.ttf") format("opentype"),
        url("../fonts/neuzeitgro/bold/neuzeitgro-bol.svg#filename") format("svg");
}

@font-face {
    font-family: "neuzeitgro-light";
    src: url("../fonts/neuzeitgro/light/neuzeitgro-lig.eot");
    src:
        url("../fonts/neuzeitgro/light/neuzeitgro-lig.woff") format("woff"),
        url("../fonts/neuzeitgro/light/neuzeitgro-lig.woff2") format("woff2"),
        url("../fonts/neuzeitgro/light/neuzeitgro-lig.otf") format("opentype"),
        url("../fonts/neuzeitgro/light/neuzeitgro-lig.ttf") format("opentype"),
        url("../fonts/neuzeitgro/light/neuzeitgro-lig.svg#filename") format("svg");
}

body {
   /* background: #fff;
  color: #2f3138;*/
  font-family: "neuzeitgro-reg", sans-serif;
  overflow-x:hidden;
}

a {
    color: #f82249;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #f8234a;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}



/* Sections Header
--------------------------------*/

.section-header {
   /* margin-bottom: 60px;*/
    position: relative;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-header h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-header h4 {
    font-family: neuzeitgro-bold;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
}

.section-header .sub-text {
    font-family: neuzeitgro-reg;
    justify-content: center;
    text-align: center;
    max-width: 80%;
    padding: 2em;
    margin: auto;
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.section-header p {
    font-family: neuzeitgro-reg;
    justify-content: center;
    text-align: center;
    max-width: 80%;
    padding: 2em;
    margin: auto;
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.section-with-bg {
    background-color: #f6f7fd;
}



/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro:before {
    content: "";
    background: rgba(6, 12, 34, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.intro-container {
    height: 100vh;
    position: absolute;
    bottom: 0;
    left: 15%;
    top: 10%;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
    padding: 0 15px;
}

.intro-container2 {
    height: 100vh;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
    padding-top: 5%;
}

.intro-container>.fil-logo,
.intro-container2>.fil-logo {
    width: 20%;
    margin-bottom: 5%;
}

.intro-container>h1,
.intro-container2>h1 {
    font-family: neuzeitgro-bold;
    font-size: 52px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 44px;
}


.intro-container>p,
.intro-container2>p {
    font-family: neuzeitgro-reg;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 0.01px;
    text-align: left;
    line-height: 44px;
}

.intro-container>.cite,
.intro-container2>.cite {
    font-family: neuzeitgro-bold;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 44px;
    margin-top: 10%;
}

.cite span{
  font-family: neuzeitgro-light;

}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

#about {
    background: url("../images/fidelity-building-c.png__1000x489_q90_subsampling-2.png");
    background-color: #fff4c7;
    background-size: cover;
    overflow: hidden;
    position: relative;
    height: 100vh;
    opacity: 1;
    color: #fff;
    padding: 60px 0 40px 0;
}

#lens2 {
    background: url("../images/Group7950.png");
    background-size: cover;
    overflow: hidden;
    position: relative;
    height: 100vh;
    opacity: 1;
    padding: 60px 0 40px 0;
}

#about:before {
    content: "";
    background: rgba(13, 20, 41, 0.8);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#about h2 {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
    z-index: 10;
}


#about p {
    font-family: neuzeitgro-reg;
    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: 0.01px;
    text-align: center;
    line-height: 44px;
}

#ig-bg{
  background: url("../images/third-type-bkg.svg");
  background-color: #fff4c7;
  background-size: contain;
  overflow: hidden;
  opacity: 1;
  color: #fff;
  padding: 60px 0 40px 0;

}
.ig-text p,
.ig-text h3{
  color: #fff;
}
.ig-text i{
  transition: all .2s ease-in-out;
  color: white;
  font-size: 6em;
}

.stat h5,
.stat .count{
  color: #000;
}

.ig-text i :hover{
  transform: scale(1.3);
}

/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (min-width: 767px) {}

@media (min-width: 768px) {}

@media (min-width: 991px) {


    @media (min-width: 1024px) {
        #intro {
            background-attachment: fixed;
        }

        #about {
            background-attachment: fixed;
        }

    }

    @media (max-width: 1199px) {}

    @media (max-width: 991px) {
        #intro .intro-container {
            top: 70px;
        }

        #intro h1 {
            font-size: 34px;
        }

        #intro p {
            font-size: 16px;
        }

    }

    @media (max-width: 768px) {}

    @media (max-width: 767px) {}

    @media (max-width: 574px) {}

    @media (max-width: 480px) {}

    @media (max-width: 460px) {}


    video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
        background-size: cover;
        transition: 1s opacity;
    }

    .gallaryImg:hover {
        -ms-transform: scale(1.2, 1.2);
        /* IE 9 */
        -webkit-transform: scale(1.2, 1.2);
        /* Safari */
        transform: scale(1.2, 1.2);
        transition: 1s;
    }

    .typewriter {
        color: #016fad;
        font-family: monospace;
        overflow: hidden;
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: .15em;
        animation:
            typing 3.5s steps(30, end),
            blink-caret .5s;
    }

    /* The typing effect */
    @keyframes typing {
        from {
            width: 0
        }

        to {
            width: 100%
        }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {

        from,
        to {
            border-color: transparent
        }

        50% {
            border-color: #b5302c
        }
    }